<!DOCTYPE html>
<html>
  <!-- <head> -->
    <title>Moorings Order Online</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css" type="text/css" />
  <!-- </head> -->
  <style>
    body {
      font-family: "Times New Roman", Georgia, Serif;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
    }
  </style>
  <body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div
        class="w3-bar w3-white w3-padding w3-card"
        style="letter-spacing: 4px;"
      >
        <a href="/" class="w3-bar-item w3-button" target="blank"
          >Moorings</a
        >
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
          <a
            href="/#about"
            class="w3-bar-item w3-button"
            target="blank"
            >About</a
          >
          <a href="/#menu" class="w3-bar-item w3-button" target="blank"
            >Menu</a
          >
          <a
            href="/#contact"
            class="w3-bar-item w3-button"
            target="blank"
            >Contact</a
          >
        </div>
      </div>
    </div>

    <!-- Header -->
    <header
      class="w3-display-container w3-content w3-wide"
      style="max-width: 1600px; min-width: 500px;"
      id="home"
    >
      <img
      />
    </td>
  </tr>
      <div class="w3-container w3-padding-64" id="menu">
        <h1>Pizza Hub</h1>
        <p>We make pizza from scratch, with fresh ingredients. This is your personal pizza kitchen where your every pizza whim is our command.
          The process starts with our freshly-rolled artisan thin dough or our handcrafted pan crust (all made with love).ed pan crust (all made with love).
          </p>

        <form action="/action_page.php" target="_blank">
          <div class="row">
            <div class="col-sm-6">
              <% pizzas.forEach(function(pizzas){ %>
                <div class="card" style="width:30rem;">
                    <img src="<%= pizzas.imagePath %>" alt="<%= pizzas.name %>" class="card-img-top" width="300" height="300">
                    <div class="card-body">
                        <h5 class="card-title"><%= pizzas.name %></h5>
                        <p class="card-text"><%= pizzas.description %></p>
                        <span class="w3-left w3-tag w3-blue w3-round"><%= pizzas.price %></span>
                    </div>
                </div>
              <%})%>

            </div>
            
          </div>
        </form>
      </div>

      <!-- End page content -->
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-light-grey w3-padding-32">
      <p>
        Powered by
        <a
          href="#"
          title="The Moorings"
          target="_blank"
          class="w3-hover-text-green"
          >Copyright © The Moorings. All Rights Reserved.</a
        >
      </p>
    </footer>
    <script src="/js/order.js"></script>
  </body>
</html>
